.navbar-custom{
  position: fixed;
  top: 0px;
  width: 100vw;
}

.right{
  right:0;
}

.animate-opacity-visible {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.animate-opacity-hidden {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.right-panel li{
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}